<center>
  <h2>Days since PewDiePie was racist</h2>
  <br>
  <br>
  <br>
  <br>
  <h1>0</h1>
  <br>
  <br>
  <br>
  <br>
  <h2>Days since PewDiePie said a racist thing</h2>
  <br>
  <br>
  <br>
  <h1><%= @days_since %> </h1>
</center>
